<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapAppSDK" version="1.0.1011.1716" targetFramework="win" />
  <package id="Callisto" version="1.2.9" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Audio" version="2.0.5" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Complete" version="2.0.5" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.5" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Net" version="2.0.5" targetFramework="win" />
  <package id="Coding4Fun.Toolkit.Storage" version="2.0.5" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="WindowsMapsHelper" version="1.0.0" targetFramework="win" />
</packages>